.App {
  width: 550px;
  height: 868px;
  background-color: rgb(35, 37, 43);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-div {
  width: 317px;
  height: 780px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.main-component {
  flex: 3;
}

.photo-name {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #2B283A;
  font-size: 25px;
}

.photo-profession {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #F47D27;
  font-size: 12.8px;
}

.photo-website, .about-data, .interests-data {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #4A4E74;
  font-size: 10.24px;
}

.about-data, .interests-data {
  padding-left: 35px;
  padding-right: 35px;
}

.about-component {
  flex: 2;
}

.about, .interests {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  color: #2B283A;
  font-size: 18px;
  padding-left: 35px;
  padding-right: 35px;
}

.interests-component {
  flex: 2;
}

.photo {
  width: 317px;
  height: 317px;
}

.text-photo {
  text-align: center;
}

.text-photo > div {
  margin-bottom: 5px;
}

.info-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.info-buttons > button {
  width: 115px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px;
  gap: 8px;
}

.info-buttons > button > img {
  width: 13px;
  height: 13px;
}

.btn-email {
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  border-color: #D1D5DB;
}

.btn-linkedin {
  background-color: rgb(79, 126, 255);
  border-radius: 6px;
  border-color: #297FE5;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15%;
  background-color: rgb(212, 211, 215);
  gap: 24px;
  border-radius: 0px 0px 10px 10px;
  flex: 1;
}

.footer-icons img {
  width: 25px;
  height: 25px;
}